{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterbox Intersecter</title>
    <link rel="stylesheet" href="{% static 'intersecter/base.css' %}">
</head>
<body>

    <main class="dashboard">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="POST" class="app-container" onsubmit="return disableButton(this)">
            {% csrf_token %}
            
            <header class="main-header">
                <h1>Letterboxd <a class="highlight" href="{% url 'intersect-home' %}">Intersecter</a></h1>
            </header>

            <div class="controls">
                <button type="button" id="add-person" class="control-btn">Add User</button>
                <button type="button" id="remove-person" class="control-btn remove">Remove User</button>
            </div>

            <section class="input-section">
            <div class="fiszki-wrapper" id="fiszki-wrapper">
                <div class="fiszka">
                    <label>Letterboxd NickName</label>
                    <input type="text" name="nickname[]" placeholder="Type here..." required minlength="2" maxlength="25">
                </div>
                <div class="fiszka">
                    <label>Letterboxd NickName</label>
                    <input type="text" name="nickname[]" placeholder="Type here..." required minlength="2" maxlength="25">
                </div>
            </div>

                <div class="box-genre">
                    <label>What kind of film you want to see?</label>
                    <select name="genre" required>
                        <option value="random" selected>Random</option>
                        <option value="Action">Action</option>
                        <option value="Adventure">Adventure</option>
                        <option value="Animation">Animation</option>
                        <option value="Comedy">Comedy</option>
                        <option value="Crime">Crime</option>
                        <option value="Documentary">Documentary</option>
                        <option value="Drama">Drama</option>
                        <option value="Family">Family</option>
                        <option value="Fantasy">Fantasy</option>
                        <option value="History">History</option>
                        <option value="Horror">Horror</option>
                        <option value="Music">Music</option>
                        <option value="Mystery">Mystery</option>
                        <option value="Romance">Romance</option>
                        <option value="Science Fiction">Science Fiction</option>
                        <option value="Thriller">Thriller</option>
                        <option value="TV Movie">TV Movie</option>
                        <option value="War">War</option>
                        <option value="Western">Western</option>
                    </select>
                </div>

                <button type="submit" class="submit-btn" id="submit-btn">Match the best movie for today</button>

        </form>
    </main>
    <script src="{% static 'intersecter/home.js' %}"></script>
</body>
</html>