{% load static %}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letterbox Intersecter</title>
    <link rel="stylesheet" href="{% static 'intersecter/base.css' %}">
</head>
<body>

    <main class="dashboard">
        <form action="" method="POST" class="app-container" onsubmit="return disableButton(this)">
            {% csrf_token %}
            
            <header class="main-header">
                <h1>Letterboxd <a class="highlight" href="{% url 'intersect-home' %}">Intersecter</a></h1>
            </header>

            <div class="controls">
                <button type="button" id="add-person" class="control-btn">Add User</button>
                <button type="button" id="remove-person" class="control-btn remove">Remove User</button>
            </div>

            <section class="input-section">
            <div class="fiszki-wrapper" id="fiszki-wrapper">
                <div class="fiszka">
                    <label>Letterboxd NickName</label>
                    <input type="text" name="nickname[]" placeholder="Type here..." required minlength="2" maxlength="25">
                </div>
                <div class="fiszka">
                    <label>Letterboxd NickName</label>
                    <input type="text" name="nickname[]" placeholder="Type here..." required minlength="2" maxlength="25">
                </div>
            </div>

                <div class="box-genre">
                    <label>What kind of film you want to see?</label>
                    <select name="genre" required>
                        <option value="random" selected>Random</option>
                        <option value="action">Action</option>
                        <option value="adventure">Adventure</option>
                        <option value="animation">Animation</option>
                        <option value="comedy">Comedy</option>
                        <option value="crime">Crime</option>
                        <option value="documentary">Documentary</option>
                        <option value="drama">Drama</option>
                        <option value="family">Family</option>
                        <option value="fantasy">Fantasy</option>
                        <option value="history">History</option>
                        <option value="horror">Horror</option>
                        <option value="music">Music</option>
                        <option value="mystery">Mystery</option>
                        <option value="romance">Romance</option>
                        <option value="science-fiction">Science Fiction</option>
                        <option value="thriller">Thriller</option>
                        <option value="war">War</option>
                        <option value="western">Western</option>
                    </select>
                </div>

                <button type="submit" class="submit-btn" id="submit-btn">Match the best movie for today</button>

        </form>
    </main>
    <script src="{% static 'intersecter/home.js' %}"></script>
</body>
</html>